# Ex 2.2 Sourcing Data with an API

## Part 2: Gather and merge the data

### 4. Import libraries and data

In [2]:
import pandas as pd 
import numpy as np
import os 
import requests
import json
from datetime import datetime

In [4]:
import os
os.getcwd()

'/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/03 Scripts'

In [12]:
# Create a path
folderpath = r"/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data"

In [13]:
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [14]:
filepaths

['/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202210-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/.DS_Store',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_4.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_4.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202203-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202210-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202203-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202210-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202204-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202204-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202204-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202211-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202202-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202211-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202202-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_4.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_4.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202211-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202205-citibike-tripdata_3.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202205-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202205-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202201-citibike-tripdata_2.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202212-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202201-citibike-tripdata_1.csv',
 '/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202212-citibike-tripdata_2.csv']

In [15]:
# Read and concatenate all files simultaneously

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbb in position 1204: invalid start byte

In [16]:
for f in filepaths:
    print(f)

/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202210-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/.DS_Store
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202207-citibike-tripdata_4.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202208-citibike-tripdata_4.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202203-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202210-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202203-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202210-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202204-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202204-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202204-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202211-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202202-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202211-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202202-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_4.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_4.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202211-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202209-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202206-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202205-citibike-tripdata_3.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202205-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202205-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202201-citibike-tripdata_2.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202212-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202201-citibike-tripdata_1.csv
/Users/andymiller/Desktop/CareerFoundry Data Analytics/3. Data Visualisation with Python/2. Citi Bike/02 Data/Original Data/202212-citibike-tripdata_2.csv

In [17]:
filepaths = [os.path.join(folderpath, name) for name in os.listdir(folderpath) if name.endswith(".csv")]

In [18]:
# Read and concatenate all files simultaneously

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_52991/1585634694.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [19]:
df.shape

(29838806, 13)

In [20]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.10,40.744219,-73.971212,40.764397,-73.973715,member
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member

In [41]:
# Rename started_at and ended_at time for clarity

df.rename(columns = {'started_at' : 'start_time','ended_at' : 'end_time'}, inplace = True)

In [42]:
df.head()

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.10,40.744219,-73.971212,40.764397,-73.973715,member
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member

### 5. Explanation of code from point 4

The code used for point 4 works as follows:

The folderpath was defined, then a list called filepaths was created that joined all of the directory paths and file names of the csv files in the folder that the folderpath points to. Each of files from the list that is of type .csv are then read and a dataframe is created to hold the data from each file which is concatenated (vertically). This results in a dataframe with over 29 million rows and 13 columns.

### 6. Token obtained

### 7. Obtain weather data

In [21]:
# Define your NOAA token - type yours in here! 

Token = 'RftqahyWxDfBEUNccuhRIdUlKXQGlizE'

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [23]:
# Get the API 

r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00014732&startdate=2022-01-01&enddate=2022-12-31', headers={'token':Token})

In [24]:
# Load the api response as a json

d = json.loads(r.text)

In [25]:
d

{'metadata': {'resultset': {'offset': 1, 'count': 365, 'limit': 1000}},
 'results': [{'date': '2022-01-01T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 116},
  {'date': '2022-01-02T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 114},
  {'date': '2022-01-03T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 14},
  {'date': '2022-01-04T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -27},
  {'date': '2022-01-05T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 32},
  {'date': '2022-01-06T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 49},
  {'date': '2022-01-07T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 7},
  {'date': '2022-01-08T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -25},
  {'date': '2022-01-09T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 14},
  {'date': '2022-01-10T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 16},
  {'date': '2022-01-11T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -54},
  {'date': '2022-01-12T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -19},
  {'date': '2022-01-13T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 40},
  {'date': '2022-01-14T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 48},
  {'date': '2022-01-15T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -67},
  {'date': '2022-01-16T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -80},
  {'date': '2022-01-17T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 39},
  {'date': '2022-01-18T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 18},
  {'date': '2022-01-19T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 32},
  {'date': '2022-01-20T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 51},
  {'date': '2022-01-21T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -60},
  {'date': '2022-01-22T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -59},
  {'date': '2022-01-23T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -7},
  {'date': '2022-01-24T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -2},
  {'date': '2022-01-25T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 36},
  {'date': '2022-01-26T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -23},
  {'date': '2022-01-27T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -42},
  {'date': '2022-01-28T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 1},
  {'date': '2022-01-29T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -48},
  {'date': '2022-01-30T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -71},
  {'date': '2022-01-31T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -34},
  {'date': '2022-02-01T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -17},
  {'date': '2022-02-02T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 23},
  {'date': '2022-02-03T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 64},
  {'date': '2022-02-04T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 58},
  {'date': '2022-02-05T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -28},
  {'date': '2022-02-06T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -48},
  {'date': '2022-02-07T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 5},
  {'date': '2022-02-08T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 41},
  {'date': '2022-02-09T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 28},
  {'date': '2022-02-10T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 63},
  {'date': '2022-02-11T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 86},
  {'date': '2022-02-12T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 118},
  {'date': '2022-02-13T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 28},
  {'date': '2022-02-14T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -43},
  {'date': '2022-02-15T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -47},
  {'date': '2022-02-16T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 16},
  {'date': '2022-02-17T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 116},
  {'date': '2022-02-18T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 99},
  {'date': '2022-02-19T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 1},
  {'date': '2022-02-20T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -26},
  {'date': '2022-02-21T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 41},
  {'date': '2022-02-22T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 56},
  {'date': '2022-02-23T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 144},
  {'date': '2022-02-24T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 11},
  {'date': '2022-02-25T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 8},
  {'date': '2022-02-26T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -11},
  {'date': '2022-02-27T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 24},
  {'date': '2022-02-28T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 8},
  {'date': '2022-03-01T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 26},
  {'date': '2022-03-02T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 77},
  {'date': '2022-03-03T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 56},
  {'date': '2022-03-04T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -19},
  {'date': '2022-03-05T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 31},
  {'date': '2022-03-06T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 96},
  {'date': '2022-03-07T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 182},
  {'date': '2022-03-08T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 87},
  {'date': '2022-03-09T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 32},
  {'date': '2022-03-10T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 40},
  {'date': '2022-03-11T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 72},
  {'date': '2022-03-12T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 51},
  {'date': '2022-03-13T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -23},
  {'date': '2022-03-14T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 53},
  {'date': '2022-03-15T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 116},
  {'date': '2022-03-16T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 136},
  {'date': '2022-03-17T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 82},
  {'date': '2022-03-18T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 139},
  {'date': '2022-03-19T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 131},
  {'date': '2022-03-20T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 143},
  {'date': '2022-03-21T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 104},
  {'date': '2022-03-22T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 107},
  {'date': '2022-03-23T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 72},
  {'date': '2022-03-24T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 57},
  {'date': '2022-03-25T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 96},
  {'date': '2022-03-26T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 104},
  {'date': '2022-03-27T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 59},
  {'date': '2022-03-28T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -15},
  {'date': '2022-03-29T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': -12},
  {'date': '2022-03-30T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 26},
  {'date': '2022-03-31T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 99},
  {'date': '2022-04-01T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 131},
  {'date': '2022-04-02T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 72},
  {'date': '2022-04-03T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 70},
  {'date': '2022-04-04T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 76},
  {'date': '2022-04-05T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 97},
  {'date': '2022-04-06T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 86},
  {'date': '2022-04-07T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 91},
  {'date': '2022-04-08T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 128},
  {'date': '2022-04-09T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 114},
  {'date': '2022-04-10T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 86},
  {'date': '2022-04-11T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 88},
  {'date': '2022-04-12T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 134},
  {'date': '2022-04-13T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 154},
  {'date': '2022-04-14T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 163},
  {'date': '2022-04-15T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 157},
  {'date': '2022-04-16T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 157},
  {'date': '2022-04-17T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 83},
  {'date': '2022-04-18T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 79},
  {'date': '2022-04-19T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 76},
  {'date': '2022-04-20T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 94},
  {'date': '2022-04-21T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 106},
  {'date': '2022-04-22T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 146},
  {'date': '2022-04-23T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 133},
  {'date': '2022-04-24T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 128},
  {'date': '2022-04-25T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 104},
  {'date': '2022-04-26T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 115},
  {'date': '2022-04-27T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 116},
  {'date': '2022-04-28T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 82},
  {'date': '2022-04-29T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 104},
  {'date': '2022-04-30T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 129},
  {'date': '2022-05-01T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 136},
  {'date': '2022-05-02T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 121},
  {'date': '2022-05-03T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 124},
  {'date': '2022-05-04T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 120},
  {'date': '2022-05-05T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 172},
  {'date': '2022-05-06T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 148},
  {'date': '2022-05-07T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 100},
  {'date': '2022-05-08T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 104},
  {'date': '2022-05-09T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 135},
  {'date': '2022-05-10T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 154},
  {'date': '2022-05-11T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 161},
  {'date': '2022-05-12T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 171},
  {'date': '2022-05-13T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 160},
  {'date': '2022-05-14T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 179},
  {'date': '2022-05-15T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 188},
  {'date': '2022-05-16T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 204},
  {'date': '2022-05-17T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 197},
  {'date': '2022-05-18T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 178},
  {'date': '2022-05-19T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 155},
  {'date': '2022-05-20T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 154},
  {'date': '2022-05-21T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 212},
  {'date': '2022-05-22T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 278},
  {'date': '2022-05-23T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 210},
  {'date': '2022-05-24T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 174},
  {'date': '2022-05-25T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 162},
  {'date': '2022-05-26T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',
   'value': 164},
  {'date': '2022-05-27T00:00:00',
   'datatype': 'TAVG',
   'station': 'GHCND:USW00014732',
   'attributes': 'H,,S,',

In [26]:
# Secure all items in the response that correspond to TAVG

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']

In [27]:
# Get only the date field from all average temperature readings

dates_temp = [item['date'] for item in avg_temps]

In [28]:
# Get the temperature from all average temperature readings

temps = [item['value'] for item in avg_temps]

In [29]:
temps

[116,
 114,
 14,
 -27,
 32,
 49,
 7,
 -25,
 14,
 16,
 -54,
 -19,
 40,
 48,
 -67,
 -80,
 39,
 18,
 32,
 51,
 -60,
 -59,
 -7,
 -2,
 36,
 -23,
 -42,
 1,
 -48,
 -71,
 -34,
 -17,
 23,
 64,
 58,
 -28,
 -48,
 5,
 41,
 28,
 63,
 86,
 118,
 28,
 -43,
 -47,
 16,
 116,
 99,
 1,
 -26,
 41,
 56,
 144,
 11,
 8,
 -11,
 24,
 8,
 26,
 77,
 56,
 -19,
 31,
 96,
 182,
 87,
 32,
 40,
 72,
 51,
 -23,
 53,
 116,
 136,
 82,
 139,
 131,
 143,
 104,
 107,
 72,
 57,
 96,
 104,
 59,
 -15,
 -12,
 26,
 99,
 131,
 72,
 70,
 76,
 97,
 86,
 91,
 128,
 114,
 86,
 88,
 134,
 154,
 163,
 157,
 157,
 83,
 79,
 76,
 94,
 106,
 146,
 133,
 128,
 104,
 115,
 116,
 82,
 104,
 129,
 136,
 121,
 124,
 120,
 172,
 148,
 100,
 104,
 135,
 154,
 161,
 171,
 160,
 179,
 188,
 204,
 197,
 178,
 155,
 154,
 212,
 278,
 210,
 174,
 162,
 164,
 202,
 204,
 207,
 233,
 283,
 178,
 203,
 195,
 219,
 200,
 222,
 218,
 237,
 244,
 218,
 218,
 205,
 242,
 239,
 233,
 203,
 252,
 217,
 173,
 205,
 221,
 191,
 192,
 219,
 258,
 270,
 243,
 224,
 239,
 254,
 281,
 287,
 269,
 256,
 259,
 260,
 242,
 235,
 247,
 234,
 240,
 258,
 289,
 266,
 261,
 243,
 257,
 262,
 282,
 313,
 298,
 309,
 303,
 311,
 298,
 259,
 255,
 267,
 282,
 267,
 263,
 231,
 264,
 276,
 291,
 293,
 296,
 296,
 303,
 313,
 272,
 266,
 256,
 231,
 240,
 243,
 236,
 236,
 241,
 263,
 279,
 253,
 245,
 259,
 269,
 281,
 274,
 278,
 246,
 260,
 268,
 256,
 259,
 217,
 228,
 253,
 258,
 233,
 208,
 218,
 219,
 236,
 232,
 224,
 247,
 229,
 218,
 196,
 208,
 234,
 256,
 232,
 220,
 218,
 151,
 145,
 192,
 194,
 197,
 172,
 166,
 145,
 148,
 152,
 115,
 103,
 138,
 176,
 203,
 139,
 123,
 158,
 170,
 179,
 187,
 157,
 162,
 161,
 166,
 126,
 100,
 111,
 134,
 144,
 147,
 141,
 169,
 183,
 169,
 113,
 108,
 125,
 144,
 169,
 176,
 157,
 152,
 194,
 198,
 213,
 132,
 87,
 126,
 164,
 197,
 129,
 63,
 49,
 73,
 57,
 45,
 28,
 27,
 11,
 66,
 94,
 81,
 100,
 93,
 107,
 122,
 54,
 84,
 57,
 34,
 106,
 70,
 54,
 93,
 138,
 116,
 53,
 22,
 34,
 16,
 3,
 17,
 27,
 62,
 50,
 31,
 17,
 19,
 10,
 38,
 75,
 -117,
 -69,
 -47,
 -7,
 34,
 64,
 93,
 82]

In [34]:
# These look suspicious but they are tenths of a degree Celsius so 116 means 11.6'C.

In [31]:
# Put the results in a dataframe

df_temp = pd.DataFrame()

In [32]:
# Get only date and cast it to date time; convert temperature from tenths of Celsius to normal Celsius

df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

In [37]:
# Check that the temperatures are now sensible values

df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [38]:
df_temp.tail()

          date  avgTemp
360 2022-12-27     -0.7
361 2022-12-28      3.4
362 2022-12-29      6.4
363 2022-12-30      9.3
364 2022-12-31      8.2

In [39]:
# Check types of each column in df

df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [44]:
# Convert start and end times to datetime64

df['start_time'] = pd.to_datetime(df['start_time'], dayfirst = True)

df['end_time'] = pd.to_datetime(df['end_time'], dayfirst = True)

In [45]:
# Create date column in the Y-M-D format to help with the merge

df['date'] = pd.to_datetime(df['start_time'], format='%Y-%m-%d').dt.date

In [46]:
# Convert date column to datetime64

df['date'] = pd.to_datetime(df['date'])

In [47]:
df.head()

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,2022-08-27
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,2022-08-20
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,2022-08-31
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.10,40.744219,-73.971212,40.764397,-73.973715,member,2022-08-02
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member,2022-08-25

In [50]:
df.dtypes

ride_id                       object
rideable_type                 object
start_time            datetime64[ns]
end_time              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
date                  datetime64[ns]
dtype: object

In [48]:
# Recheck df_temp

df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [49]:
df_temp.dtypes

date       datetime64[ns]
avgTemp           float64
dtype: object

In [55]:
# Merge can now go ahead using the 'date' column

df_merged = df.merge(df_temp, how = 'left', on = 'date', indicator = True)

In [56]:
df_merged['_merge'].value_counts()

both          29838166
left_only          640
right_only           0
Name: _merge, dtype: int64

In [57]:
df_merged.head()

,ride_id,rideable_type,start_time,end_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,9D0DC440CB40CF8E,electric_bike,2022-08-27 13:56:47.728,2022-08-27 14:02:56.651,Flatbush Ave & Ocean Ave,3704.04,3 St & Prospect Park West,3865.05,40.663657,-73.963014,40.668132,-73.973638,casual,2022-08-27,27.8,both
1,2214991DFBE5C4D7,electric_bike,2022-08-20 10:37:02.756,2022-08-20 10:45:56.631,Forsyth St\t& Grand St,5382.07,E 11 St & 1 Ave,5746.14,40.717798,-73.993161,40.729538,-73.984267,casual,2022-08-20,27.9,both
2,20C5D469563B6337,classic_bike,2022-08-31 18:55:03.051,2022-08-31 19:03:37.344,Perry St & Bleecker St,5922.07,Grand St & Greene St,5500.02,40.735354,-74.004831,40.721700,-74.002381,member,2022-08-31,25.6,both
3,3E8791885BC189D1,classic_bike,2022-08-02 08:05:00.250,2022-08-02 08:16:52.063,FDR Drive & E 35 St,6230.04,Grand Army Plaza & Central Park S,6839.10,40.744219,-73.971212,40.764397,-73.973715,member,2022-08-02,26.4,both
4,8DBCBF98885106CB,electric_bike,2022-08-25 15:44:48.386,2022-08-25 15:55:39.691,E 40 St & 5 Ave,6474.11,Ave A & E 14 St,5779.11,40.752052,-73.982115,40.730311,-73.980472,member,2022-08-25,28.1,both

In [62]:
# Trying to find out why there are 640 rows that didn't match to a date to receive a temperature

df_temp.shape

(365, 2)

In [63]:
df_temp['avgTemp'].isnull().value_counts()

False    365
Name: avgTemp, dtype: int64

In [65]:
left_only_rows = df_merged[df_merged['_merge'] == 'left_only']
left_only_rows[['start_time', 'date', 'avgTemp']]

                      start_time       date  avgTemp
5822796  2021-02-15 14:11:20.946 2021-02-15      NaN
8523027  2021-12-31 15:54:01.151 2021-12-31      NaN
9866906  2021-11-22 21:28:35.151 2021-11-22      NaN
9876393  2021-04-30 16:56:21.003 2021-04-30      NaN
10240287 2021-12-12 05:18:01.991 2021-12-12      NaN
...                          ...        ...      ...
29236803 2021-12-31 23:44:17.183 2021-12-31      NaN
29238459 2021-12-31 21:02:06.246 2021-12-31      NaN
29240127 2021-12-31 22:46:28.302 2021-12-31      NaN
29244462 2021-12-31 23:47:28.230 2021-12-31      NaN
29395359 2021-07-16 17:50:59.271 2021-07-16      NaN

[640 rows x 3 columns]

In [66]:
left_only_rows['date'].value_counts()

2021-12-31    583
2021-12-30      9
2021-12-29      4
2021-11-13      3
2021-12-26      3
2021-12-11      3
2021-11-17      2
2021-12-04      2
2021-09-05      2
2021-12-12      2
2021-12-06      1
2021-10-27      1
2021-07-22      1
2021-11-07      1
2021-11-09      1
2021-11-16      1
2021-12-14      1
2021-12-23      1
2021-12-28      1
2021-09-13      1
2021-02-15      1
2021-11-18      1
2021-01-30      1
2021-06-04      1
2021-03-11      1
2021-03-31      1
2021-07-10      1
2021-03-14      1
2021-07-19      1
2021-08-16      1
2021-12-08      1
2021-12-19      1
2021-11-21      1
2021-12-02      1
2021-04-30      1
2021-11-22      1
2021-07-16      1
Name: date, dtype: int64

In [67]:
# So most of these were rentals that began the day before or a few days before 2022 started.
# I'll deal with these in the cleaning stage when I see what is coming in the next exercise.

In [68]:
# Export file to csv

df_merged.to_csv(os.path.join(folderpath, 'ny_data.csv'))