# Ex 6.7 Preparing data for Tableau

### Import libraries and data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import json
import folium

In [2]:
# Make matplotlib visualisations appear in the notebook

%matplotlib inline

In [3]:
# Define path

path = r'/Users/andymiller/Desktop/CareerFoundry Data Analytics/6. Advanced Analytics and Dashboard Design'

In [4]:
# Import data from csv file

df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'coral_cleaned.csv'), index_col = False)

In [5]:
# Re-add the live_coral_categories from Ex 6.2

df.loc[df['mean_live_coral'] < 17, 'live_coral_category'] = 'Low coral abundance'

In [6]:
df.loc[(df['mean_live_coral'] >= 17) & (df['mean_live_coral'] < 30), 'live_coral_category'] = 'Medium coral abundance'

In [7]:
df.loc[df['mean_live_coral'] >= 30, 'live_coral_category'] = 'High coral abundance'

In [8]:
df['live_coral_category'].value_counts()

live_coral_category
Low coral abundance       962
Medium coral abundance    956
High coral abundance      728
Name: count, dtype: int64

In [9]:
df.shape

(2646, 27)

In [11]:
# Import reef geographies from shapefile
import geopandas as gpd

gdf = gpd.read_file(os.path.join(path, '02 Data', 'Original Data', 'GBR_reefs.shp'))

In [12]:
gdf.head()

,TARGET_FID,DATASET,LOC_NAME_S,GBR_NAME,CHART_NAME,TRAD_NAME,UN_FEATURE,LABEL_ID,SORT_GBR_I,FEAT_NAME,...,SHAPE_AREA,SHAPE_LEN,Checked,RegionID,LatitudeID,GroupID,PriorityLb,Country,UNIQUE_ID,geometry
0,1,TS Features,U/N Sand Bank (09-347a),U/N Sand Bank,None,None,TRUE,09-347a,9347,Bank,...,0.786169,10.479431,FALSE,13,9,347,FALSE,Papua-New Guinea,09347110101,"POLYGON ((143.0851 -9.26657, 143.08702 -9.2676..."
1,2,TS Features,U/N Sand Bank (09-347),U/N Sand Bank,None,None,TRUE,09-347,9347,Bank,...,2.953362,17.845281,FALSE,13,9,347,TRUE,Papua-New Guinea,09347110100,"POLYGON ((143.05491 -9.2934, 143.05465 -9.2946..."
2,3,TS Features,U/N Sand Bank (09-355z),U/N Sand Bank,None,None,TRUE,09-355z,9355,Bank,...,0.173143,2.073020,FALSE,13,9,355,FALSE,Papua-New Guinea,09355110126,"POLYGON ((143.10563 -9.3908, 143.10543 -9.3908..."
3,4,TS Features,U/N Sand Bank (09-355a0),U/N Sand Bank,None,None,TRUE,09-355a0,9355,Bank,...,0.057538,1.065615,FALSE,13,9,355,FALSE,Papua-New Guinea,09355110127,"POLYGON ((143.09853 -9.39008, 143.09812 -9.390..."
4,5,TS Features,U/N Sand Bank (09-355a1),U/N Sand Bank,None,None,TRUE,09-355a1,9355,Bank,...,0.032543,0.739752,FALSE,13,9,355,FALSE,Papua-New Guinea,09355110128,"POLYGON ((143.09389 -9.39146, 143.0936 -9.3914..."

In [14]:
# In df, add a new reef_id column that includes a hypen

df['reef_id_formatted'] = df['reef_id'].str[:2] + '-' + df['reef_id'].str[2:]

In [15]:
# Create list of unique 'reef_id'

reef_id_list = df['reef_id_formatted'].unique()
reef_id_list

array(['16-028S', '16-049S', '16-054S', '15-093S', '15-095S', '15-098S',
       '16-013A', '16-013B', '16-013C', '16-015S', '16-017S', '16-020A',
       '16-023S', '16-024S', '16-026S2', '16-032S', '16-040S', '16-043A',
       '16-044B', '16-046S', '16-057S', '16-060S', '16-064S', '16-068S',
       '15-088S', '15-090S', '15-092S', '15-094S1', '15-096S', '15-099A',
       '15-099C', '16-019S', '16-025S2', '16-030S', '16-058S', '16-063S',
       '16-065S', '23-045A', '23-048S', '23-051S', '23-055S', '23-068S',
       '23-069S', '23-077S', '23-079S', '23-080S', '23-081S', '23-082S',
       '11-167S', '12-010S', '12-102S', '11-016S', '11-029S', '11-049S',
       '11-162S', '11-184C1', '11-184C2', '11-211S', '11-222S2',
       '11-222S3', '11-237A', '11-237B', '11-237C', '12-016B', '12-027B',
       '11-243S', '12-056S', '12-061S', '12-071S', '12-098S', '12-107S',
       '14-094S', '14-097S', '14-120B', '14-123S', '14-126S', '15-002S',
       '15-005S', '15-012S', '15-013S', '14-054S', '14-056S', '14-061S',
       '14-064S', '14-109S', '14-114S', '14-115S', '14-116S', '14-118S',
       '14-133S', '14-134S', '14-135S', '14-143S', '14-147A', '15-009S',
       '15-018S', '15-019S', '15-022S', '15-024S', '15-027S', '15-028S2',
       '15-030S', '15-047S', '15-054S', '15-077S', '15-081S', '15-084S',
       '15-089S', '14-075S', '14-085S', '14-137S', '14-138S', '14-139S',
       '14-152S', '14-154S', '15-023S', '15-025S', '15-032S', '15-034S',
       '15-037S', '15-050S', '15-080S', '15-085S', '19-103S', '18-118S',
       '19-019S', '19-028S', '19-044S', '19-045S', '19-046S', '19-047S',
       '19-063A', '19-063B', '19-076S', '19-082S', '19-098S', '18-112S',
       '18-120S', '19-061S', '17-012A', '17-043A', '17-043C', '16-067S',
       '16-071S', '17-004S', '17-010S', '17-011S', '17-016S', '17-024S',
       '17-034S', '17-044S', '17-051S', '17-063A', '17-064S', '17-008S',
       '17-014S', '17-032S', '17-057S', '17-059A', '17-068S', '13-006S',
       '13-081S', '13-107S', '14-017S', '13-041S', '13-060S', '13-063S',
       '13-072S', '13-076S', '13-087S', '13-093A', '13-108S', '13-124S',
       '14-003S', '14-016S', '13-040S', '13-056S', '13-118A', '13-121S',
       '13-127S', '13-130S', '13-133S', '14-045S', '21-031S', '21-039S',
       '21-308S', '21-334S', '21-340S', '21-386S', '19-219S', '20-112S',
       '20-144S', '20-145S', '20-287S', '20-297S', '20-299D', '20-309S',
       '20-348S', '20-351A', '20-351B', '20-353S', '20-354S', '21-025S',
       '21-060S', '21-062S', '21-064S', '21-074S', '21-104S', '21-137S',
       '21-139S', '21-140S', '21-187S', '21-591S', '20-113S', '21-179S',
       '21-186S', '21-217S', '21-219S', '21-235S', '21-241S', '21-245S',
       '21-278S', '21-286S', '21-450S', '21-467S', '21-497S', '21-501S',
       '21-511S', '21-529S', '21-550S', '21-556S', '21-557S1', '21-572S',
       '21-577S', '21-584S', '21-588S', '22-084S', '22-088S', '22-102S',
       '22-104S', '22-112S', '22-118S', '22-144S', '21-296S', '21-302S',
       '21-305S', '21-558S', '21-562S', '21-583S', '18-053S', '18-065S',
       '18-025S', '18-026S', '18-029S', '18-030S', '18-031S', '18-032S',
       '18-042S', '18-043S', '18-073S', '18-074S', '18-075S', '18-076S',
       '18-077S', '18-078S', '18-079S', '18-088S', '18-091S', '18-095S',
       '18-096S', '18-099S', '18-106S', '18-023S', '18-034S', '18-037S',
       '18-039S', '18-041S', '18-046S', '18-081S', '18-083S', '18-086S',
       '20-014S', '20-019S', '20-067A', '19-120S', '19-131S', '19-135S',
       '19-137S', '19-138S', '19-147S', '19-177S', '19-195S', '20-104S',
       '19-159S', '19-207S', '19-209S'], dtype=object)

In [16]:
#  See which ID's are found and which are missing

found = gdf[gdf['X_LABEL'].isin(reef_id_list)]
not_found = [r for r in reef_id_list if r not in gdf['X_LABEL'].values]

print(f"✅ Found {len(found)} reefs")
print(f"❌ Missing {len(not_found)} reefs")
print("Examples of missing reefs:", not_found[:12])

✅ Found 365 reefs
❌ Missing 12 reefs
Examples of missing reefs: ['16-026S2', '15-094S1', '16-025S2', '11-184C1', '11-184C2', '11-222S2', '11-222S3', '14-116S', '15-028S2', '17-016S', '21-557S1', '22-104S']

In [17]:
# Create a new reef_id_formatted_edit column

df['reef_id_formatted_edit'] = df['reef_id_formatted']

In [18]:
# Replace reef_id values with what is needed to match the reefs to the polygons

df.loc[df['reef_id_formatted_edit'] == '16-026S2', 'reef_id_formatted_edit'] = '16-026S'
df.loc[df['reef_id_formatted_edit'] == '15-094S1', 'reef_id_formatted_edit'] = '15-094S'
df.loc[df['reef_id_formatted_edit'] == '16-025S2', 'reef_id_formatted_edit'] = '16-025S'
df.loc[df['reef_id_formatted_edit'] == '11-184C1', 'reef_id_formatted_edit'] = '11-184C'
df.loc[df['reef_id_formatted_edit'] == '11-184C2', 'reef_id_formatted_edit'] = '11-184C'
df.loc[df['reef_id_formatted_edit'] == '11-222S2', 'reef_id_formatted_edit'] = '11-222A'
df.loc[df['reef_id_formatted_edit'] == '11-222S3', 'reef_id_formatted_edit'] = '11-222A'
df.loc[df['reef_id_formatted_edit'] == '14-116S', 'reef_id_formatted_edit'] = '14-116A'
df.loc[df['reef_id_formatted_edit'] == '15-028S2', 'reef_id_formatted_edit'] = '15-028S'
df.loc[df['reef_id_formatted_edit'] == '17-016S', 'reef_id_formatted_edit'] = '17-016A'
df.loc[df['reef_id_formatted_edit'] == '21-557S1', 'reef_id_formatted_edit'] = '21-557S'
df.loc[df['reef_id_formatted_edit'] == '22-104S', 'reef_id_formatted_edit'] = '22-104A'

In [22]:
# Make new reef list
reef_id_list_2 = df['reef_id_formatted_edit'].unique()
reef_id_list_2

array(['16-028S', '16-049S', '16-054S', '15-093S', '15-095S', '15-098S',
       '16-013A', '16-013B', '16-013C', '16-015S', '16-017S', '16-020A',
       '16-023S', '16-024S', '16-026S', '16-032S', '16-040S', '16-043A',
       '16-044B', '16-046S', '16-057S', '16-060S', '16-064S', '16-068S',
       '15-088S', '15-090S', '15-092S', '15-094S', '15-096S', '15-099A',
       '15-099C', '16-019S', '16-025S', '16-030S', '16-058S', '16-063S',
       '16-065S', '23-045A', '23-048S', '23-051S', '23-055S', '23-068S',
       '23-069S', '23-077S', '23-079S', '23-080S', '23-081S', '23-082S',
       '11-167S', '12-010S', '12-102S', '11-016S', '11-029S', '11-049S',
       '11-162S', '11-184C', '11-211S', '11-222A', '11-237A', '11-237B',
       '11-237C', '12-016B', '12-027B', '11-243S', '12-056S', '12-061S',
       '12-071S', '12-098S', '12-107S', '14-094S', '14-097S', '14-120B',
       '14-123S', '14-126S', '15-002S', '15-005S', '15-012S', '15-013S',
       '14-054S', '14-056S', '14-061S', '14-064S', '14-109S', '14-114S',
       '14-115S', '14-116A', '14-118S', '14-133S', '14-134S', '14-135S',
       '14-143S', '14-147A', '15-009S', '15-018S', '15-019S', '15-022S',
       '15-024S', '15-027S', '15-028S', '15-030S', '15-047S', '15-054S',
       '15-077S', '15-081S', '15-084S', '15-089S', '14-075S', '14-085S',
       '14-137S', '14-138S', '14-139S', '14-152S', '14-154S', '15-023S',
       '15-025S', '15-032S', '15-034S', '15-037S', '15-050S', '15-080S',
       '15-085S', '19-103S', '18-118S', '19-019S', '19-028S', '19-044S',
       '19-045S', '19-046S', '19-047S', '19-063A', '19-063B', '19-076S',
       '19-082S', '19-098S', '18-112S', '18-120S', '19-061S', '17-012A',
       '17-043A', '17-043C', '16-067S', '16-071S', '17-004S', '17-010S',
       '17-011S', '17-016A', '17-024S', '17-034S', '17-044S', '17-051S',
       '17-063A', '17-064S', '17-008S', '17-014S', '17-032S', '17-057S',
       '17-059A', '17-068S', '13-006S', '13-081S', '13-107S', '14-017S',
       '13-041S', '13-060S', '13-063S', '13-072S', '13-076S', '13-087S',
       '13-093A', '13-108S', '13-124S', '14-003S', '14-016S', '13-040S',
       '13-056S', '13-118A', '13-121S', '13-127S', '13-130S', '13-133S',
       '14-045S', '21-031S', '21-039S', '21-308S', '21-334S', '21-340S',
       '21-386S', '19-219S', '20-112S', '20-144S', '20-145S', '20-287S',
       '20-297S', '20-299D', '20-309S', '20-348S', '20-351A', '20-351B',
       '20-353S', '20-354S', '21-025S', '21-060S', '21-062S', '21-064S',
       '21-074S', '21-104S', '21-137S', '21-139S', '21-140S', '21-187S',
       '21-591S', '20-113S', '21-179S', '21-186S', '21-217S', '21-219S',
       '21-235S', '21-241S', '21-245S', '21-278S', '21-286S', '21-450S',
       '21-467S', '21-497S', '21-501S', '21-511S', '21-529S', '21-550S',
       '21-556S', '21-557S', '21-572S', '21-577S', '21-584S', '21-588S',
       '22-084S', '22-088S', '22-102S', '22-104A', '22-112S', '22-118S',
       '22-144S', '21-296S', '21-302S', '21-305S', '21-558S', '21-562S',
       '21-583S', '18-053S', '18-065S', '18-025S', '18-026S', '18-029S',
       '18-030S', '18-031S', '18-032S', '18-042S', '18-043S', '18-073S',
       '18-074S', '18-075S', '18-076S', '18-077S', '18-078S', '18-079S',
       '18-088S', '18-091S', '18-095S', '18-096S', '18-099S', '18-106S',
       '18-023S', '18-034S', '18-037S', '18-039S', '18-041S', '18-046S',
       '18-081S', '18-083S', '18-086S', '20-014S', '20-019S', '20-067A',
       '19-120S', '19-131S', '19-135S', '19-137S', '19-138S', '19-147S',
       '19-177S', '19-195S', '20-104S', '19-159S', '19-207S', '19-209S'],
      dtype=object)

In [23]:
# Check that all reefs now match

found = gdf[gdf['X_LABEL'].isin(reef_id_list_2)]
not_found = [r for r in reef_id_list_2 if r not in gdf['X_LABEL'].values]

print(f"✅ Found {len(found)} reefs")
print(f"❌ Missing {len(not_found)} reefs")
print("Examples of missing reefs:", not_found[:12])

✅ Found 378 reefs
❌ Missing 0 reefs
Examples of missing reefs: []

In [24]:
# Now that all reefs match, create a subset of gdf that contains only the reefs that are needed for the analysis

gdf_subset = gdf[gdf['X_LABEL'].isin(reef_id_list_2)]

In [26]:
# Merge with the gdf_subset containing the polygons using 
# df['reef_id_formatted_edit'] and gdf_subset['X_LABEL'] as the common columns

gdf_merged = df.merge(
    gdf_subset,
    how='inner',
    left_on='reef_id_formatted_edit',
    right_on='X_LABEL'
)

In [28]:
gdf_merged.head()

,Unnamed: 0,sector,shelf,reef_name,reef_id,latitude,longitude,p_code,visit_no,year_code,...,SHAPE_AREA,SHAPE_LEN,Checked,RegionID,LatitudeID,GroupID,PriorityLb,Country,UNIQUE_ID,geometry
0,0,CA,I,LOW ISLANDS REEF,16028S,-16.383333,145.566667,RM,1,199293,...,2.365843,17.048765,NA,0,16,28,TRUE,Australia,16028100104,"POLYGON ((145.57101 -16.3805, 145.57109 -16.38..."
1,1,CA,I,LOW ISLANDS REEF,16028S,-16.383333,145.566667,RM,4,199596,...,2.365843,17.048765,NA,0,16,28,TRUE,Australia,16028100104,"POLYGON ((145.57101 -16.3805, 145.57109 -16.38..."
2,2,CA,I,LOW ISLANDS REEF,16028S,-16.383333,145.566667,RM,5,199697,...,2.365843,17.048765,NA,0,16,28,TRUE,Australia,16028100104,"POLYGON ((145.57101 -16.3805, 145.57109 -16.38..."
3,3,CA,I,LOW ISLANDS REEF,16028S,-16.383333,145.566667,RM,6,199798,...,2.365843,17.048765,NA,0,16,28,TRUE,Australia,16028100104,"POLYGON ((145.57101 -16.3805, 145.57109 -16.38..."
4,4,CA,I,LOW ISLANDS REEF,16028S,-16.383333,145.566667,RM,7,199899,...,2.365843,17.048765,NA,0,16,28,TRUE,Australia,16028100104,"POLYGON ((145.57101 -16.3805, 145.57109 -16.38..."

In [29]:
gdf_merged.shape

(3427, 65)

In [30]:
# Before exporting for use in Tableau, many of the redundant columns can be removed

gdf_merged.columns

Index(['Unnamed: 0', 'sector', 'shelf', 'reef_name', 'reef_id', 'latitude',
       'longitude', 'p_code', 'visit_no', 'year_code', 'report_year',
       'sample_date', 'median_live_coral', 'median_soft_coral',
       'median_dead_coral', 'mean_live_coral', 'mean_soft_coral',
       'mean_dead_coral', 'total_cots', 'mean_cots_per_tow', 'total_trout',
       'mean_trout_per_tow', 'tows', 'median_soft_coral_midpoint',
       'median_live_coral_midpoint', 'median_dead_coral_midpoint',
       'live_coral_category', 'reef_id_formatted', 'reef_id_formatted_edit',
       'TARGET_FID', 'DATASET', 'LOC_NAME_S', 'GBR_NAME', 'CHART_NAME',
       'TRAD_NAME', 'UN_FEATURE', 'LABEL_ID', 'SORT_GBR_I', 'FEAT_NAME',
       'LEVEL_1', 'LEVEL_2', 'LEVEL_3', 'CLASS_CONF', 'CLASS_SRC', 'POLY_ORIG',
       'IMG_SRC', 'SUB_NO', 'CODE', 'FEATURE_C', 'QLD_NAME', 'X_LABEL',
       'GBR_ID', 'LOC_NAME_L', 'X_COORD', 'Y_COORD', 'SHAPE_AREA', 'SHAPE_LEN',
       'Checked', 'RegionID', 'LatitudeID', 'GroupID', 'PriorityLb', 'Country',
       'UNIQUE_ID', 'geometry'],
      dtype='object')

In [ ]:
gdf_export = gdf_merged[[